@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


/* globals.css */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-image: url('../public/background.jpg');
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center center; /* Centers the image */
  background-repeat:no-repeat;
  min-height: 100vh;
  margin: 0; /* Removes default margin */
}

